body{
    margin: auto;
    position: relative;
    top: 30px;
}
.container{
    margin: auto;
    font-weight: 500;
}
.fas{
    position: absolute;
    top: 178px;
    right: 320px;
}
#inputmessage{
    line-height: 100px;
}
#footer-note{
        font-size: 10px;
}
.card-footer{
    height: 60px;
}
.form-control{
    padding: 8px;
}
#titletextarea{
    margin-bottom: 8px;
}
.bottomspace{
    height: 30px;
}